@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");
@import url('https://fonts.googleapis.com/css?family=Oswald:500|Raleway:400i');


.requestbar {
  background: #8A4100;
  border-top: 1px solid black;
  display: flex;
  height: 5vh;
  padding: 5px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;

  form {
    color: white;
    margin: 1vh;
    letter-spacing: 2px;
    margin-left: auto;
    margin-right: auto;

    label {
      margin: 10px;
    }
  }
}

.room-view {
  background-color: complement(#8A4100);
  height: 95vh;
}

.currentplaying {
  display: block;
  text-align: center;
  padding-top: 10vh;
}

.queue {
  background-color: complement(#8A4100);
  display: block;
  text-align: center;
  padding: 5px;
}

.song-title,
.song-artist {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
}

.song-title {
  flex: 8;
}

.song-artist {
  flex: 2;
  font-weight: 700;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid black;
  color: white;
  height: 5vh;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.navbar-brand {
  color: inherit;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  height: 5vh;
  line-height: 5vh;
  padding: 0 10px;
  text-decoration: none;
}

.user-count {
  @extend .navbar-brand;
  font-weight: 300;
  float: right;
}
